body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #00356b;
}

h1, h3,
p {
  text-align: center;
}

p {
  margin: 0 1em .7em 1em;
  line-height: 1.5;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1em;
  background-color: #00356b;
}

nav ul {
  list-style-type: none;
  margin: 1em .5em 0 .5em;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 .1em 0 .1em;
  font-size: 14px;
}

nav li a {
  text-decoration: none;
  color: white;
}

div img {
  width: 100%;
  height: 60vh;
}

.navbtn__tour {
  border-radius: 6px;
  background-color: white;
  padding: 0.5em;
  margin-left: .4em;
  width: 9em;
  text-align: center;
  display: inline-block;
  color: #00356b;
  cursor: pointer;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.navbtn__tour:hover {
  width: 9.5em;
}

.hero__header {
  font-family: "Poppins", sans-serif;
}

.hero__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__quotes {
  display: -ms-grid;
  display: grid;
  margin: 1em 1em 1em 1em;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 1em 0 .5em 0;
  background-color: #00356b;
  color: white;
  border-radius: 2em;
}

.quotes__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  left: 1px;
}

.quotes__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  left: 3px;
}

.programs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3% 33.3% 33.21%;
      grid-template-columns: 33.3% 33.3% 33.21%;
}

.far {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.programs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs__content button {
  border-style: solid;
  border-color: #00356b;
  border-radius: .5em;
  border-width: .2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
}

.programs__content a {
  color: #00356b;
  text-decoration: none;
}

.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 0 0;
  height: 25vh;
  background-color: darkgray;
}

.compare h2 {
  text-align: center;
  text-shadow: 2px 2px white;
  margin: .2em .5em .5em .5em;
  font-size: 30px;
}

.compare button {
  width: 175px;
  padding: .5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: solid 0.2em #00356b;
  border-radius: .5em;
  margin-bottom: 1em;
  background-color: white;
}

.compare button a {
  font-size: 16px;
  text-decoration: none;
  color: #00356b;
}

.info__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 1.5em 0;
}

.info__more a {
  text-decoration: none;
  font-weight: bold;
  color: #00356b;
}

.info__people {
  display: -ms-grid;
  display: grid;
  margin: 1em 1em 0 1em;
  padding: .5em 0 0 0;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  background-color: #00356b;
  color: white;
  border-radius: 2em;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fas {
  font-size: 2rem;
  width: 1em;
  margin: 0.3em;
}

.card__foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1em 0 1em;
  padding: 1em 0 0 0;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #00356b;
  color: white;
}

.signup p {
  margin-bottom: 1em;
}

.submit__btn {
  background-color: white;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
}

.signup form input[type=submit] {
  border: none;
  background-color: white;
  text-decoration: none;
  color: #00356b;
  padding: 0.5em;
  border-radius: 5px;
  width: 8em;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.7em;
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.signup__name input,
.signup__contact input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  padding: 5px;
  margin-bottom: .5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 5px;
}

@media (min-width: 600px) {
  p {
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    margin: .5em .5em 0 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 .5em 0 .5em;
    font-size: 15px;
  }
}

.hero__header {
  font-size: 25px;
}

.info__kenzie p {
  font-size: 14px;
}

.info__people {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.quotes__left {
  position: relative;
  right: 2em;
}

.quotes__right {
  position: relative;
  right: 5.5em;
}

.quotes__right p {
  margin-top: .8em;
}

@media (min-width: 1000px) {
  p {
    font-size: 30px;
  }
  ul {
    list-style-type: none;
    margin: 1em .5em 0 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: .2em .5em 0 .5em;
    font-size: 25px;
  }
  .info__people {
    display: -ms-grid;
    display: grid;
    margin-top: 20px;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  .hero__quotes {
    -ms-grid-columns: 1fr 40% 1fr 40%;
        grid-template-columns: 1fr 40% 1fr 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__quotes p {
    font-size: 15px;
  }
  .fas {
    font-size: 50px;
  }
  .quotes__right {
    position: relative;
    margin: 0;
  }
  .compare h2 {
    font-size: 30px;
  }
  .hero__header {
    font-size: 50px;
  }
  .info p {
    font-size: 16px;
  }
  .navbtn__tour {
    width: 11em;
    font-size: 12px;
    padding: 8px;
    margin-right: 5px;
  }
  .info__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
  }
  .info__text h3 {
    text-align: left;
    margin-left: 0;
    font-size: 25px;
  }
  .std__para {
    margin: 0;
    text-align: left;
  }
  .signup__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1em;
  }
  .signup__name {
    margin: 0 .5em 0 0;
  }
}
/*# sourceMappingURL=style.css.map */